@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  text-align: center;
  font-size: 2em;
}

#search {
  width: 70px;
  border: 1px solid black;
}
